* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;
  background-image: url('./utils/poker_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: content-box;
  background-size: 100% 100%;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #d4af37;
}

#game {
  background-color: rgba(14, 82, 14, 0.7);
  width: 350px;
  height: 350px;
  border: dashed;
  border-color: rgb(30, 158, 30);
}

#divBtns {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.useRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.gameStart {
  display: grid;
  place-content: center;
}

#divCards {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#msgSum {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-color: rgb(4, 160, 4);
}

#prize {
  color: gold;
  font-size: 1.2rem;
}

.card {
  display: flex;
  gap: 5px;
  font-size: 2rem;
  position: relative;

  border: solid;
  border-width: 1px;
  border-color: rgb(189, 49, 49);
  padding: 5px;
}

#msg {
  font-size: 1.2rem;
  padding: 10px;
  font-style: italic;
  color: rgb(170, 167, 167);
}

#labelName {
  color: gold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

#inputName {
  background-color: gray;
  border: none;
  padding: 0.5rem;
  width: 70%;
  font-size: 1.5rem;
  color: rgba(14, 82, 14, 0.7);
  text-align: center;
}

#inputName:focus {
  outline: none;
}

.border_5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.d_transition {
  transition: transform 200ms;
  -webkit-transition: transform 200ms;
  -moz-transition: transform 200ms;
  -ms-transition: transform 200ms;
  -o-transition: transform 200ms;
}

.btns {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: goldenrod;
  max-width: max-content;
  margin: auto;
  border: none;
}

.btns:hover {
  cursor: pointer;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.btns:disabled {
  background-color: gray;
  cursor: default;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}
